$primary: #83ad46;
$secondary: #d7f0a6;
$dark: #4b5943;
$black: #17251b;
$font-family-sans-serif: "imprima", sans-serif !default;
$font-family-serif: "indie Flower", serif !default;

@import "../node_modules/bootstrap/scss/bootstrap";
